#container {
    max-width: 1200px;
    margin: 0 auto;
}

.films-list{
    list-style-type: square;
}


.films-list__item{
    padding: 20px 0;
}

.films-list__item span{
    padding: 5px 0;
    display: block;
}

.films-list__item span:nth-child(1){
    font-size: 20px;
}

.films-list__item span:nth-child(2){
    font-size: 24px;
}

.films-list__item span:nth-child(3){
    font-size: 20px;
}


.loader{
    border: 5px solid #f3f3f3;
    border-top: 5px solid #18B4CF;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100%{
        transform: rotate(360deg);
    }
}