@import "../../../../../styles/mixins";
@import "../../../../../styles/common";
@import "../../../../../styles/variables";


.cart__list{
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.cart__item{
  border-bottom: 1px solid #e9e9e9

}