.page-footer{
  background-color: #000000;
  padding-top: 38px;
  padding-bottom: 47px;

  &__title{
    color: #FEFEFE;
    text-align: center;
    padding-left: 5px;
  }

  &__title::after{
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    right: 16%;
    height: 2px;
    width: 5px;
    background-color: #FEFEFE;
  }

  &__title::before{
    background-color: #FEFEFE;
    left: 18%;
  }

  &__text{
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #B9B9B9;
  }

  &__socials{
    padding-top: 25px;
    padding-bottom: 25px;
  }

  &__contacts{
    display: block;
  }
}

.footer-contacts{

  &__item{
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #B9B9B9;
  }

}

.socials{
  width: 218px;
  margin: 0 auto;

  &__icon{
    box-sizing: border-box;
    display: inline-block;
    width: 34px;
    height: 34px;
    border-width:2px;
    border-style: solid;
    border-radius: 50%;
    position: relative;
    margin-left: 6px;
  }

  &__icon:nth-child(1){
    border-color: #ff9800;
    margin-left: 0;
  }

  &__icon:nth-child(2){
    border-color: #305DB8;
  }

  &__icon:nth-child(3){
    border-color: #1698d6;
  }

  &__icon:nth-child(4){
    border-color: #d04f96;
  }

  &__icon:nth-child(5){
    border-color: #bd1e33;
  }

  &__icon img{
    width: 10px;
    height: 10px;
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
  }
}