

.instagram-shots{

  &__title{
    margin-bottom: 13px;

    //&:nth-child(1){
    //  display: block;
    //}
    //
    //&:nth-child(2){
    //  display: none;
    //}
  }

  &__link{
    display: none;
    padding-right: 9px;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title-text-color;
  }

}

.instagram-pictures{
  padding-bottom: 42px;

  &__item{
    display: block;
    width: 100%;

    &:not(:nth-child(1)){
      display: none;
    }

  }
  &__item img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
  }
}