@mixin flex-center-space-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin burger-nav-lines{
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #fff;
  left: 13px;
  transition: all 0.3s ease;
}