$title-text-color: #4E4E4E;
$author-comments-text-color: #7C7C7C;

.recent-posts{
  padding-top: 19px;

  &__title{
    margin-bottom: 23px;
  }

  &__item{
    margin-bottom: 29px;
  }

}

.section-post{

  &__image{
    cursor: pointer;
    display: block;
    margin-bottom: 11px;
  }

  &__title{
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    color: $title-text-color;
  }

  &__author{
    display: inline-block;
    font-size: 11px;
    line-height: 20px;
    color: $author-comments-text-color;
  }

  &__author::after{
    content: '/';
    padding-left: 5px;
    //color: $author-comments-text-color;
  }

  &__comments{
    display: inline-block;
    font-size: 11px;
    line-height: 20px;
    color: $author-comments-text-color;
  }


  &__text{
    display: none;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
  }
}