@import "mixins";

.cross-btn{
  @include resetButtonStyles;
  font-size: 16px;
  border-radius: 7px;
}

.btn{
  @include resetButtonStyles;
  font-size: 16px;
  border-radius: 7px;
  color: rgb(255,255,255);
  padding: .7em .3em;
  margin: .3em;
}