@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/common";

.footer {
  background-color: #221f1f;
  text-align: center;
  margin-top: 20px;

  &__copyright {
    padding: 1em;
    font-size: 16px;
    color: #FFFFFF;
  }
}