@import "../../../../styles/mixins";
@import "../../../../styles/common";
@import "../../../../styles/variables";

.goods {

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19%, 1fr));
    gap: 10px 3px;
  }

  &__cell{
    box-sizing: border-box;
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
}
