  @media (min-width: $tablet) {
    .instagram-shots {
      position: relative;
      padding-top: 47px;
      padding-bottom: 50px;

      &::after {
        position: absolute;
        content: "";
        background-color: rgba(0, 0, 0, 0.03);
        z-index: -2;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }

      &__title{

        //&:nth-child(1){
        //  display: none;
        //}
        //
        //&:nth-child(2){
        //  display: block;
        //}
      }

      &__description{
        display: flex;
        justify-content: space-between;
      }

      &__link{
        display: block;
      }

    }

   .instagram-pictures{
     display: flex;

     &__item:nth-child(2){
       display: block;
     }

     &__item:nth-child(3){
       display: block;
     }
   }
  }

@media (min-width: $tablet) and (max-width: $desktop - 1) {
  .instagram-shots{

    &__title{
      margin-bottom: 25px;
    }
  }
  }

  @media (min-width : $desktop) {
    .instagram-pictures__item:nth-child(4){
      display: block;
    }
  }

