@media (min-width: $tablet){
  .recent-posts {

    &__container {
    display: flex;
    flex-wrap: wrap;
      justify-content: space-between;
  }
  }

 .section-post{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-bottom: 30px;

   &__image{
     max-width: 160px;
   }

   &__image img{
     max-width: 100%;
   }

   &__description{
     margin-left: 20px;
   }

   &__text{
     display: block;
   }
 }
}

@media (min-width: $desktop) {

  .recent-posts {

    &__item{
      width: 48%;
    }
  }
}