@import "../../../styles/mixins";

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
}

.modal-body {
  color: #FFFFFF;
  position: relative;
  text-align: center;
  width: 400px;
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 20px;
  border-radius: 7px;
  box-sizing: border-box;

  &--red {
    background-color: #D34537FF;
  }

  &--teal {
    background-color: #1EBF8AFF;
  }

  &__cross-btn {
    color: #FFFFFF;
    position: absolute;
    top: 14px;
    right: 2px;
  }

  &__header {
    font-size: 20px;
    margin: 0;
    box-sizing: border-box;
  }

  &__header-wrapper {
    padding: 20px;

    &--red {
      background-color: #E74C3CFF;
    }

    &--teal {
      background-color: #1fcf95;
    }
  }

  &__text {
    font-size: 18px;
    padding: 20px;
    margin: 0;
  }

  &__buttons{
    @include flexCenter;
  }

  &__btn {
    @include resetButtonStyles;
    width: 100px;
    margin: .3em;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 30px;
    color: #FFFFFF;
  }
}




