@import "../../styles/mixins";
@import "../../styles/common";
@import "../../styles/variables";

.header-layout{
  @include flexSpaceBetween;
}

.header {
  background-color: #221f1f;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  &__logo{
    text-decoration: none;
    color: #FFFFFF;
    padding: 1em;
  }

  &__logo-text{
    text-transform: uppercase;
    font-size: 24px;
  }
}

.header-actions {
  @include flexSpaceBetween;
  gap: 10px;

  &__link{
    display: block;
    width: 34px;
    height: 34px;
  }

  &__item{
    list-style-type: none;
  }

  &__button {
    @include resetButtonStyles;
    width: 40px;
    height: 40px;
  }

  &__cart-icon{
    fill: #FFFFFF;
  }

  &__authorization-icon{
    fill: #FFFFFF;
  }

  &__favourites-icon{
    fill: #FFD700;

    &--empty{
      fill: #FFD700;
    }
  }

}